service citsensor-hal-1-1  /vendor/bin/hw/vendor.xiaomi.hardware.citsensorservice@1.1-service
    override
    class late_start
    user system
    group system input wakelock

on early-init
    chown root system /dev/hw_random
    chmod 0440 /dev/hw_random

on property:ro.boot.hwc=*
    setprop vendor.boot.hwc ${ro.boot.hwc}

on property:init.svc.cnss_diag=running
    stop cnss_diag

on property:init.svc.tcpdump=running
    stop tcpdump

on property:init.svc.vendor.ipacm-diag=running
    stop vendor.ipacm-diag

on property:persist.sys.device_provisioned=1
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,7
    setprop dalvik.vm.dex2oat-threads 6

# perf tuning
on property:vendor.post_boot.parsed=1
    # Setup runtime cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-5,7
    write /dev/cpuset/background/cpus 4-5
    write /dev/cpuset/system-background/cpus 2-5
    write /dev/cpuset/restricted/cpus 2-5

    # Setup default schedTune value for foreground/top-app
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 5
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Setup schedutil ratelimits
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/down_rate_limit_us 20000

    # Enable schedutil predicted-load boosting
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/pl 1
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/pl 1
